
body{
    background-color: beige;
    max-width: 100vw;
    min-height: 100%;
}

img{
    max-width: 100%;
  }


@media only screen and (min-width: 768px) {

    .body{
        display: grid;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        
    }
    .container-big{
        margin: 0;
        padding: 0;
        display: flex;
        width: 100vw;
        height: 100%;
        
        background-color: green;
        
        justify-content: center;
    }

    p{
        
        
    }

    .goBackBtn{
        width: 20%;
    }

    .left{
        
        display: flex;
        margin: 0;
        padding: 0;
        width: 35%;
        
        padding-left: 2em;
        background-color: #eeb4a2;
        align-items: center;
        justify-content: center;
    }

    .left-container{
        display: grid;
        width: 100%;
        height: 10%;
        
    }

    .right{
        padding: 2em;
        margin: 0;
        
        width: 65%;
        background-color: beige;
    }

    .likes{
        margin-top: 1em;
        margin-bottom: 1em;
        gap: 1em;
    }
    img{
      max-width: 100%;
    }
    .title{
        display: flex;
        width: 30%;
        border-bottom: 1px solid black;
    }
}

