



<body class="body">
    <div class="container-big">
        <div class="left">
            <div class="left-container">
            <div >
                <h1 class="title">{{post?.title}}</h1>
            </div>
            <div class="date">
                <p>{{shortDatum}}</p>
            </div>
            <button  (click)="updateStorage()" routerLink="/" class="goBackBtn">Go back</button>
        
        </div></div>

        <div class="right">
            <img src={{post?.thumbnailUrl}} alt="no img found">
             <p class="bread-text">{{post?.body}}</p>
            <div class="likes">
                <span (click)="increaseLike()">👍 {{post?.likes}}</span>
                <span (click)="decreaseLike()">👎 {{post?.dislikes}}</span>
            </div>
        
            <div class="addComment">
                <input type="text" [(ngModel)]="commentText">
                <button (click)="addComment()">Add comment!</button>
            </div>
            <span>Antal kommentarer: {{post?.comments?.length}}</span>
        <div *ngFor="let comment of post?.comments" class="comments">by Anonymous: {{comment}}</div>
    </div>
        
    </div>
</body>