

<!-- <body>
    <div class="container">
        <div class="leftSide">
        <a href="/" class="socialMedia ig"></a>
        <a href="/" class="socialMedia fb "></a>
        <a href="/" class="socialMedia link"></a>
        </div>
        <div class="logo"></div>

        <div class="rightSide">
        <button class="btn btn-outline-secondary btn-lg" routerLink="/">HOME</button>
        <button class="btn btn-outline-secondary btn-lg" routerLink="/about">ABOUT</button>
        <button class="btn btn-outline-secondary btn-lg" *ngIf="admin" routerLink="/addpost">Lägg till post</button>
        <button class="btn btn-outline-secondary btn-lg" *ngIf="admin" (click)="changeView()">Växla till besökarvy</button>
        <button class="btn btn-outline-secondary btn-lg" *ngIf="!admin" (click)="changeView()">Växla till adminvy</button>
        <a href="/" class="search"></a>
        </div>
    </div>
</body>
 -->


 <!DOCTYPE html>
 <html>
    
 <body>
     <nav class="navbar navbar-expand-md navbar-light bg-light">
         <div class="container-fluid custom-navbar-container mr-auto">
            <div class="container-fluid">
            <div class="row">
              <!-- Left Side (Social Media Links) --> 
             <div class="col-md-4 leftSide d-none d-md-flex align-items-center">
                 <a href="/" class="socialMedia ig"></a>
                 <a href="/" class= "socialMedia fb"></a>
                 <a href="/" class="socialMedia link"></a>
             </div>
 
              <!-- Logo (Centered) --> 
             
             <a class="col-md-4 navbar-brand mx-auto text-center" href="/">
                  <!-- <div class="logo"></div>  -->
                 <h1 class="logo-text">Mattias Blogg</h1>
             </a>

             <!--  Hamburger Menu Button (visible on small screens) -->
             
            
           
              <!-- Navigation Links (Collapsing Menu) --> 
             <div class="col-md-4 collapse navbar-collapse ml-auto" id="navbarNav">
                 <ul class="navbar-nav mx-auto">
                     <li class="nav-item">
                         <a class="btn btn-outline-secondary btn-lg nav-link" href="/">HOME</a>
                     </li>
                     <li class="nav-item">
                         <a class="btn btn-outline-secondary btn-lg nav-link" href="/about">ABOUT</a>
                     </li>
                     
                     <li class="nav-item" *ngIf="admin">
                         <a class="btn btn-outline-secondary btn-lg nav-link" (click)="changeView()">Växla till besökarvy</a>
                     </li>
                     <li class="nav-item" *ngIf="!admin">
                         <a class="btn btn-outline-secondary btn-lg nav-link" (click)="changeView()">Växla till adminvy</a>
                     </li>
                     <li class="nav-item" *ngIf="admin">
                         <a class="btn btn-outline-secondary btn-lg nav-link" href="/addpost">Lägg till post</a>
                     </li>
                    
                 </ul>
             </div>
             

            </div>
            <button type="button" class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#navbarNav">
                 <span class="navbar-toggler-icon"></span>
             </button>
        </div>
             
         </div>
     </nav>
 </body>
 </html> 

 
 
 


 