<!-- <body> 
    <div class="row text-center" style="margin: 5rem;">
        <div class="col-md-4 card" style="background-color: beige; margin-top: 10px;" *ngFor="let post of posts; let i = index" (click)="goToSinglePost(i)" >
            <div class="card-header">{{post.title}}</div>
            <div class="card-body">
                <img  src="{{post.thumbnailUrl}}" alt="Img not found">
            </div>
            
        </div>
    </div>
</body> -->

<body> 
    <div class="container" >
        <div class="card" style="background-color: beige; margin-top: 10px;" *ngFor="let post of posts; let i = index" (click)="goToSinglePost(i)" >
            <div class="cardPic">
                <img  src="{{post.thumbnailUrl}}" alt="Img not found">
            </div>
            <div class="cardTitle">{{post.title}}</div>
        </div>
    </div>
</body>

