<body>
    <input class="title" type="text" [(ngModel)]="title" placeholder="Title..." />
    <input class="thumbnail" type="text" [(ngModel)]="thumbnailUrl" placeholder="Enter Thumbnail URL..."/>
    <input class="title" type="text" [(ngModel)]="body" placeholder="Write your post here..."/>
    <button (click)="createPost()">Add new post!</button>
    <br><br>
    <button (click)="clearLocalStorage()">Rensa local Storage</button>

    <br><br><br>
    <button (click)="addFivePosts()">Add 5 premade posts!</button>
    <br><br><br>

    <div class="dropdown">
        <button class="dropbtn">Delete Single Post</button>
        <div class="dropdown-content">
            <a href="#" *ngFor="let post of posts; let i = index" (click)="confirmDelete(i)">{{post.title}}</a>
        </div>
    </div>


</body>