body{
    width: 100vw;
    min-height: 100vh;
   
    padding: 0;
    margin: 0;
}

/* .navbarA{
    height: 20vh;
    background-color: green;
    margin: 0;
    padding: 0;
} */

.main{
    min-height: 70vh;
    width: 100%;
}